<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960668958540-6vgm101lcal1tqbomdqnv7vmk1c6cec5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960668958540-6vgm101lcal1tqbomdqnv7vmk1c6cec5</string>
	<key>API_KEY</key>
	<string>AIzaSyA8PQEtdazHLxxjlAruMlvsXlq0WxHTOpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>960668958540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ioanniskousis.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1f0e9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1f0e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960668958540:ios:03e833b3c3d0d40b74d9e9</string>
</dict>
</plist>